<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connect</title>
  <link rel="stylesheet" href="/connect/styles.css">
</head>
<body>
  <div id="container">
    <h1 id="loginText">Login</h1>
    <div id="connectForm">
      <input id="username" type="text" placeholder="Username"/>
      <input id="password" type="password" placeholder="Password"/>
      <button id="submit">Log in</button>
      <p id="err"></p>
    </div>
  </div>
  <script src="/connect/main.js"></script>
</body>
</html>